.form__input {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background: none;
    margin-bottom: 30px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

@media screen and (max-width: 600px) {
    .form__input {
        font-weight: 400;
          
    }
}
