.element__trash {
    width: 18px;
    height: 19px;
    background-image: url("../../../images/trash.svg");
    position: absolute;
    border: none;
    cursor: pointer;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    background-color: transparent;
    
}

.element__trash:hover {
    transition: opacity 1s ease;
    opacity: 0.5;
}