.form__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: calc(216px - 30px);
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;

}

@media screen and (max-width: 600px) {
    .form__button {
        font-size: 16px;
        line-height: 19px;
        margin-top: calc(173px - 30px);  
        height: 46px;
    }
}

.form__button:hover {
    opacity: 0.6;
}