.element__like {
   width: 10px;
   height: 13px;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   padding: 0;
   margin: 0;
}